{% extends 'masterlayout.html' %}
{% block body %}
      <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                     <div class="apply_job_form white-bg">
                        <h4>Register</h4>
                        <form action="/register" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input_field">
                                        {{form.name(placeholder='Name')}}
                                        {% if form.name.errors %}
                                        <p style="color:red;"> {{ form.name.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                </div>

                                                                <div class="col-md-6">
                                    <div class="input_field">
                                        {{form.surname(placeholder='Sur name')}}
                                        {% if form.surname.errors %}
                                        <p style="color:red;"> {{ form.surname.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                       {{form.email(placeholder='Email')}}
                                        {% if form.email.errors %}
                                        <p style="color:red;">{{ form.email.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        {{form.zipcode(placeholder='Zip code (Optional)')}}
                                        {% if form.zipcode.errors %}
                                        <p style="color:red;">{{ form.zipcode.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        {{form.password(placeholder='Password')}}
                                        {% if form.password.errors %}
                                        <p style="color:red;">{{ form.password.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        {{form.pass_confirm(placeholder='Confirm password')}}
                                        {% if form.pass_confirm.errors %}
                                       <p style="color:red;">{{ form.pass_confirm.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-check-inline mx-5">
                                  <label class="form-check-label">
                                      <label style="font-weight:bolder;">Gender</label>
                                      {{form.gender(class_='form-check-input')}}
                                      {% if form.gender.errors %}
                                       <p style="color:red;"> {{ form.driver_or_pass.errors[0] }}</p>
                                        {% endif %}
                                 </label>
                                 </div>

                                <div class="form-check-inline mx-5">
                                  <label class="form-check-label">
                                      <label style="font-weight:bolder;">Account type</label>
                                      {{form.driver_or_pass(class_='form-check-input')}}
                                      {% if form.driver_or_pass.errors %}
                                       <p style="color:red;"> {{ form.driver_or_pass.errors[0] }}</p>
                                        {% endif %}
                                 </label>
                                 </div>
                                  {{ form.csrf_token }}
                                <div class="col-md-12">
                                    <div class="submit_btn">

                                        {{form.submit(class_='boxed-btn3 w-100 my-3')}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}