{% extends 'MasterLayouts/masterlayout.html' %}
{% block body %}
   <div class="job_details_area justify-content-center">
        <div class="container justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="apply_job_form white-bg">
                        <h4>Login</h4>
                        <form action="/login" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <input type="email" placeholder="Enter Your Email">
                                    </div>
                                </div>
                                <div class="col-md-12 pt-4">
                                    <div class="input_field">
                                        <input type="password" placeholder="Enter your Password">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="submit_btn text-center">
                                        <button class="boxed-btn3 w-75" type="submit">Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock  %}