<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gijgo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
    #bootstrapnav li a {
        color:#00D363;
    }
    #bootstrapnav li a:hover {
        color:black;
    }
    </style>
</head>

<body>
    

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container ">
<nav class="navbar navbar-expand-sm" style="background-color:none;">

  <!-- Links -->
  <ul id="bootstrapnav" class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('passenger_bp.my_rides')}}">My Rides</a>
    </li>

          <li class="nav-item">
      <a class="nav-link" href="{{url_for('passenger_bp.profile')}}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('passenger_bp.passenger_notifications')}}">Notifications
         <i class="btn-danger"> ({{count}})</i>
      </a>
    </li>
      {% if started_ride %}
          <li class="nav-item">
      <a class="nav-link" href="{{url_for('passenger_bp.started_ride')}}">Current ride
      </a>
    </li>
      {% endif %}

        <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>

</nav>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

{% block body %}
{% endblock %}


       <!-- link that opens popup -->
    <!-- JS here -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax-form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollIt.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gijgo.min.js') }}"></script>



    <!--contact js-->
    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% block customscript %}
{% endblock %}

</body>
</html>