{% extends 'pass_masterlayout.html' %}

{% block body %}



    <!-- catagory_area -->
    <div class="catagory_area">
        <div class="container">
            <div class="row cat_search">
                <div class="col-lg-4 col-md-4">
                    <form action="{{url_for('passenger_bp.finddriver')}}" method="post">
                    <div class="single_input">
<!--                        <input type="location" placeholder="From">-->
                        {{form.from_loc(placeholder='From location')}}
                    </div>
                </div>

                                <div class="col-lg-4 col-md-4">
                    <div class="single_input">
                        {{form.to_loc(placeholder='to location')}}

                    </div>
                </div>


                <div class="col-lg-4 col-md-12">
                    <div class="job_btn">
                            {{ form.csrf_token }}
                        {{form.submit(class_='boxed-btn3',style='width:100%')}}
                    </div>
                </div>
                </form>
            </div>

        </div>
    </div>
    <!--/ catagory_area -->

<div class="container">
    <div class="row">
        <h1>Recent Rides</h1>
        <div class="col-md-12">

            {% for d in drivers %}
            <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="img/svg_icon/1.svg" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="job_details.html"><h4>Software Engineer</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Part-time</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                    <a href="job_details.html" class="boxed-btn3">Apply Now</a>
                                </div>
                                <div class="date">
                                    <p>Date line: 31 Jan 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}


        </div>
    </div>
</div>





{% endblock %}