{% extends 'pass_masterlayout.html' %}

{% block title %}
Pay
{% endblock %}

{% block body %}

<style>
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">


        </div>
    </div>
</div>

<div class="container" style="margin-top:140px;">
    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                    <div class="checkbox pull-right">
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{{url_for('passenger_bp.pay_ride',ride_id=ride.id)}}" method="post">
                        <div class="form-group">
                            <label>
                                CARD NUMBER</label>
                            <div class="input-group">
                                {{form.card_number(class_='form-control',placeholder='Card Number')}}
                                {% if form.card_number.errors %}
                                <p style="color:red;"> {{ form.card_number.errors[0] }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label>
                                        EXPIRY DATE
                                    </label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        {{form.exp_month(class_='form-control',placeholder='MM')}}
                                        {% if form.exp_month.errors %}
                                        <p style="color:red;"> {{ form.exp_month.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        {{form.exp_year(class_='form-control',placeholder='YY')}}

                                        {% if form.exp_year.errors %}
                                        <p style="color:red;"> {{ form.exp_year.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label>
                                        CV CODE</label>
                                    {{form.cv_code(class_='form-control',placeholder='CVC')}}

                                    {% if form.cv_code.errors %}
                                    <p style="color:red;"> {{ form.cv_code.errors[0] }}</p>
                                    {% endif %}

                                    {{form.driver_id_field(class_='form-control',placeholder='driver')}}
                                    {{form.ride_id_field(class_='form-control',placeholder='ride')}}

                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right"><span
                        class="glyphicon glyphicon-usd"></span>${{ride.price}}</span> Final Payment</a>
                </li>
            </ul>
            <br/>
            {{form.submit(class_='btn btn-success btn-lg btn-block')}}
            </form>

        </div>
    </div>
</div>


{% endblock %}