<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
    #bootstrapnav li a {
        color:#00D363;
    }
    #bootstrapnav li a:hover {
        color:black;
    }

    </style>
</head>

<body>


<!-- header-start -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:fixed;z-index:1;width:100%;">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('passenger_bp.my_rides')}}">My Rides</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('passenger_bp.profile')}}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/passenger">Find Driver</a>
                </li>
                {% if started_ride %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('passenger_bp.started_ride')}}">Current ride
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

        </div>
    </nav>
</header>
<!-- header-end -->

<div class="container" style="position:absolute;z-index:1;margin-top:20px;">
    <div class="row">
        <div class="col-md-6"></div>


        <div class="col-md-6">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}


        </div>
    </div>
</div>

{% block body %}
{% endblock %}


<script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% block customscript %}
{% endblock %}

</body>
</html>