{% extends 'driver_masterlayout.html' %}
{% block title %}
Notifications
{% endblock %}
{% block body %}

<style>
#gender {
float:left;
}
  #gender li {
  display: inline-block;
  margin-left:6px;
  }

  .avatar-pic {
width: 150px;
}


</style>
<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h2 class="contact-title"></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li class="alert alert-info">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}


                    <!-- job_listing_area_start  -->
    <div class="job_listing_area" style="background-color:white;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section_title">
                        <h3>Notifications</h3>
                    </div>
                </div>
            </div>
            <div class="job_lists">
                <div class="row">

                    {% for ride in rides %}
                    <h1>{{ride.len}}</h1>
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="col-md-4">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="">
                                    {% if user.profile_image == "0" %}
                                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="img-responsive" style="width:80px;margin-right:12px;" alt="">
                                    {% else %}
                                    <img src="{{url_for('static',filename='uploads/'+user.profile_image)}}" class="img-responsive" style="width:80px;margin-right:12px;" alt="">
                                    {% endif %}
                                </div>
                                <div class="jobs_conetent">
                                    <a href=""><h4>{{user.name}}</h4></a>

                                </div>
                            </div>
                        </div>
                            <div class="col-md-4">
                                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map"></i> Distance: {{ride.distance}}KMs</p>
                                        </div>
                                        &nbsp;&nbsp;
                                        <div class="location">
                                            <p> $ {{ride.price}}</p>
                                        </div>

                                    </div>

                                   <a url="{{url_for('driver_bp.approve_request',request_id=ride.ride_id)}}" class="btn btn-success acceptlink">Accept</a>
                                             <a url="{{url_for('driver_bp.decline_request',request_id=ride.ride_id)}}" class="btn btn-danger declinelink">Decline</a>
                            </div>
                            <div class="col-md-4">

                            <div class="jobs_right">


                                <div class=" pull-left">
                                    {% if ride.profile_image == "0" %}
                                    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="img-responsive" style="width:80px;margin-right:12px;" alt="">
                                    {% else %}
                                    <img src="{{url_for('static',filename='uploads/'+ride.profile_image)}}" class="img-responsive" style="width:80px;margin-right:12px;" alt="">
                                    {% endif %}
                                </div>
                                <div class="jobs_conetent">
                                    <a href="{{url_for('frontend_blue_print.passenger_profile',passenger_id=ride.passenger_id)}}"><h4>{{ride.name}}</h4><span style="font-size:12px;color:gray;">[Passenger]</span></a>


                                </div>


                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->


            </div>





            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->

{% endblock %}

{% block customscript %}
<script>
    $(document).ready(function(){
    $('.acceptlink').click(function(){
    reqlink = $(this);
    var url = "http://localhost:5000";
    url = url + $(this).attr('url');
    $.get(url,function(response){
    console.log(response);
    if(response == "2"){
    alert('No such ride request found')
    }else if(response == "1"){
    alert('Request confirmed, please wait for the passenger payment to start the ride.');
    $(reqlink).text('Accepted');
    }else if(response == "0"){
    alert('An error has occurred, request cannot be confirmed. Try refreshing the page.')
    }
    });
    });


    $('.declinelink').click(function(){
    reqlink = $(this);
    var url = "http://localhost:5000";
    url = url + $(this).attr('url');
    $.get(url,function(response){
    console.log(response);
    if(response == "2"){
    alert('No such ride request found')
    }else if(response == "1"){
    alert('Request declined.');
    $(reqlink).text('Declined');
    }else if(response == "0"){
    alert('An error has occurred, request cannot be declined. Try refreshing the page.')
    }
    });
    });

    });
</script>
{% endblock %}